.result-items {
	padding: 30px 0 0;
}

.item-card {
	display: block;
	position: relative;
	border: 1px solid $brand-color;
	border-radius: $border-radius;
	overflow: hidden;
	text-decoration: none;
	margin-bottom: gutter(1);
	background-color: #fff;

	&:hover {
		box-shadow: 0 0 8px -1px rgba(30,30,30,0.5);
		color: inherit;
	}

	&:focus,
	&:active {
		background-color: lighten($brand-color, 45%);
	}


	img {
		width: 100%;
		display: block;
	}

}

.card-price {
	font-size: #{(18/$font-base-size)}rem;
	font-weight: $font-medium;
	position: absolute;
	left: 0;
	bottom: 45px;
	display: inline-block;
	padding: gutter(1/4);
	background-color: rgba($brand-color,0.75);
	color: #fff;
	span {
		font-weight: $font-normal;
		font-size: #{(14/$font-base-size)}rem;
	};
}


.card-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 gutter(1/4);
	height: 45px;
	font-size: #{(13/$font-base-size)}rem;
	color: lighten($text-color, 10%);
	line-height: 1;

	.city {
		font-size: #{(18/$font-base-size)}rem;
		font-weight: $font-medium;
	}

}