.ico-android-pin:before {
	content: "\61";
}
.ico-android-plane:before {
	content: "\62";
}
.ico-android-people:before {
	content: "\63";
}
.ico-arrow-right-c:before {
	content: "\64";
}
.ico-arrow-swap:before {
	content: "\65";
}
.ico-arrow-graph-up-right:before {
	content: "\66";
}