%default--flex-row {
	flex-direction: row;
	flex-wrap: wrap;
}

.flex {
	@extend %default--flex-row;
	display: flex;

}

.flex-start {
	justify-content: flex-start;
}

/// generating columns
@for $i from 1 through ($col--columns) {
	.#{$class-slug}-#{$i} {
		width: #{(((100/($col--columns)*$i)*1%))};
	}
}

@for $i from 1 through ($col--columns - 1	) {
	.#{$class-slug-margin}-#{$i} {
		@if ($col--columns % $i != 0) {
			width: #{(((100/($col--columns)*$i) - $col--margin-right + ($col--gutter * 2))*1%)};
		} @else {
			width: #{(((100/($col--columns)*$i) - $col--margin-right - $col--gutter)*1%)};

		}

		.flex-start & {
			margin-right: #{(($col--margin-right + ($col--margin-right / (($col--columns/$i) - 1))))}#{'%'};
		}

		&:nth-child(#{$col--columns/$i}n) {
			.flex-start & {
				margin-right: 0;
			}
		}


	}

}

