
@include media-query('collapse') {

	[class*="col-margin-"] {
		width: auto !important;
		margin-right: gutter($col--gutter) !important;
		margin-left: gutter($col--gutter) !important;
		flex-grow: 1;
	}

	.flex {
		justify-content: center !important;
	}

	.title {
		text-align: center;
	}

	.serch-results {
		&> div,
		&>img {
			margin: 15px 30px;
		}
	}


}


@include media-query('tablet-min') {

	html {
		font-size: 14px;
	}

}

